.task {
  width: 100%;
  border-radius: 5px;
  font-weight: bold;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgba(233, 227, 228, 0.7);
  box-shadow: 5px 5px 20px palevioletred;
}

.titleStyle {
  font-size: 30px;
  margin: 15px 0;
  overflow-wrap: break-word;
}

.parMargin {
  margin: 15px 0;
  overflow-wrap: break-word;
}

.checked {
  opacity: .6;
}