.task{
    width: 100%;
    border-radius: 5px;
    background-color: rgba(218, 134, 162, .5);
    color: palevioletred;
    font-weight: bold;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.titleStyle{
  font-size: 30px;
  margin: 15px 0;
}

.parMargin{
  margin: 15px 0;
}

.checked{
  opacity: .6;
}

