.oneTaskContainer{
    display: flex;
    justify-content: center;
    margin: 20px;
    height: 100vh;
}

.oneTask{
    color:rgb(228, 77, 107);
    background-color: rgba(233, 227, 228, 0.7);
    width: 50%;
    box-shadow: 5px 5px 20px palevioletred;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.date{
    font-weight: bold;
    font-style: italic;
}