.App {
  text-align: center;
  background-image: url("../src/assets/images/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(228, 77, 107);
  min-height: 100vh;
}