.App {
  text-align: center;
}

.users{
  border: 2px solid purple;
  margin: 15px;
}

.user{
  display: flex;
  flex-direction: column;
  color: purple;
  padding: 5px;
}

.heading{
  color: purple;
}